.webform-email-reply-threads-replies .item-list ul {
  margin: 0;
}

.webform-email-reply-threads-replies .item-list ul li {
  list-style-type: none;
  margin: 1em 0;
}

.webform-email-reply-threads-replies li:not(:last-child) {
  border-bottom: 1px solid #888888;
}

.webform-email-reply-thread-recipient-form div[id^="edit-recipients-"] {
  border-bottom: 1px solid #888888;
}
