<div{{ attributes }}>
  <div><b>{{ 'From'|t }}:</b> {{ from }}</div>
  <div><b>{{ 'Sent on'|t }}:</b> {{ sent }}</div>
  {% if attachment %}
    <div><b>{{ 'Attachment'|t }}:</b> {{ attachment }}</div>
  {% endif %}
  <div><b>{{ 'Message'|t }}:</b><br/>{{ message }}</div>
</div>
